<VirtualHost *:80>
    ServerAdmin jonstjohn@gmail.com
    DocumentRoot /home/cw/climbingweather-web/httpdocs
    ServerName {{ server_name }}
    ServerAlias {{ server_alias }}
    ErrorLog /home/cw/logs/error_log
    CustomLog /home/cw/logs/access_log combined
    Include /home/cw/climbingweather-web/config/httpd.conf
</VirtualHost>
