# Config file for ClimbingWeather.com

# general config
[configuration]
environment = {{ site_env }}
base_url = {{ base_url }}
root_dir = /home/cw
noaa_dir = /home/cw/noaa

# database
[database]
database = cw
username = cw
password = {{ mysql_cw_password }}
host = localhost

# google
[google]
gmap_key = {{ gmap_key }}

# sentry
[sentry]
dsn = {{ sentry_dsn }}

# sphinx
[sphinx]
port = 9312
