# mysite_uwsgi.ini file
[uwsgi]

# Django-related settings
# the base directory (full path)
chdir           = /home/cw/climbingweather-web/climbingweather
# Django's wsgi file
module          = climbingweather.wsgi
# the virtualenv (full path)
home            = /home/cw/Envs/climbingweather-web

# process-related settings
# master
master          = true
# maximum number of worker processes
processes       = 4
# the socket (use the full path to be safe)
socket          = 127.0.0.1:3031
# ... with appropriate permissions - may be needed
#chmod-socket    = 664

# clear environment on exit
vacuum          = true

{% for var_name, value in env_vars.iteritems() %}
env = {{ var_name }}={{ value }}
{% endfor %}

daemonize = /home/cw/logs/uwsgi.log

# reload when python modules change DEV ONLY
{% if is_dev %}
py-autoreload   = 1
{% endif %}
